body {
    font-family: 'Roboto Slab','DejaVu Serif',Georgia,'Times New Roman',sans-serif;
    font-size: 14px;
    line-height: 22px;
    background-color: rgb(246,252,252);
    padding: 0%;
}

.wrapper {
    display: grid;
    grid-template-columns: 25% auto 25%;
}

.wrapper > div {
    padding: 1.25em;
}

ul {
    list-style-type: circle;
    list-style-position: outside;
}

.f12 {
    color: rgb(250,167,231);
    font-family: Inter,Arial, Helvetica, sans-serif;
    font-size: 128px;
    font-weight:800;
    padding:0;
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    color: rgb(115,220,220);
}

.gray {
    font-family: Inter,Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: rgb(200,200,200);
    text-transform: uppercase;
}
