body {
    font-family: 'Noto Serif','Roboto Slab','DejaVu Serif',Georgia,'Times New Roman',sans-serif;
    font-size: 14px;
    line-height: 22px;
    background-color: rgb(248,249,250);
    color: rgb(33,37,41);
    padding: 0%;
}

.wrapper {
    display: grid;
    grid-template-columns: auto 300px 702px auto;
}

.lft {
    padding-right: 1.5em;
}

.mid {
    padding-left: 1.5em;
}

ul {
    list-style-type: circle;
    list-style-position: outside;
}

.f12 {
    color: rgb(173,181,189);
    font-family: Inter,Arial, Helvetica, sans-serif;
    font-size: 108pt;
    font-weight: 800;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Inter,Arial, Helvetica, sans-serif;
    color: rgb(108,117,125);
}

.gray {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: rgb(206,212,218);
    text-transform: uppercase;
}
